/* Estilos generales */
body {
    font-family: Arial, sans-serif;
  }
  /* Estilos para resoluciones específicas */
  @media (max-width: 320px) {
    /* Estilos para pantallas con un ancho de hasta 320 píxeles */
    body {
      font-size: 14px;
    }
  }
  @media (max-width: 720px) {
    /* Estilos para pantallas con un ancho de hasta 720 píxeles */
    body {
      font-size: 16px;
    }
  }
  /* Resto de estilos CSS */
  .active {
    background-color: yellow;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item {
    margin-bottom: 10px;
  }
  .content {
    text-align: center;
  }
  #inicio-heading {
    text-align: center;
  }
  .footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    color: gray;
  }
  .pyramid-button {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transform: skew(-20deg);
  }
/* Estilos para hacer el video de YouTube responsive y cuadrado en pantallas pequeñas */
/* Estilos para hacer el video de YouTube responsive y cuadrado en pantallas pequeñas */
.video-container {
    padding-top: 100%; /* Relación de aspecto 1:1 (dividir 1 entre 1 y multiplicar por 100) */
    position: relative;
    overflow: hidden;
    margin: 0 20px; /* Márgenes laterales iguales en pantallas pequeñas */
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* Estilos para pantallas de escritorio */
  @media (min-width: 768px) {
    .video-container {
      padding-top: 40%; /* Relación de aspecto 16:9 (dividir 9 entre 16 y multiplicar por 100) */
      margin: 0 20px; /* Márgenes laterales iguales */
    }
  }
  /*/header/**/
  .title {
    font-size: 36px;
    text-align: center;
  }